html,
body  {
  font: 100% 宋体, 新宋体;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}
main{
  padding-left: 450px;
  padding-right: 450px;
}
main > div{
  float: left;
  width: 150px;
  padding: 10px;
  position: relative;
  background: white;

}
a {
  color: inherit;
  text-decoration: none;
}
.toutiao-header {
  width: 100%;
  background: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
* {
  box-sizing: border-box;
}
