#rightbar {
    float: right;
    width: 350px;
    height: 100vh;
}

#more {
    display: flex;
    width: inherit;
    border-top: 2px solid #ed4040;
    background-color: #f4f5f6;
    margin-bottom: 18px;
    text-align: center;
}

#more1 {
    width: 300px;
    color: #222;
    padding: 0;
    margin: 20px 20px 0 18px;
    font-size: 18px;
    line-height: 1.1;
}

#more_header {
    font-weight: 700;
    text-align: left;
}

#more_links {
    overflow: hidden;
    margin: 20px -20px 0 0;
}

#more_link {  
    float: left;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
    margin: 0 20px 20px 0;
}

#friends {
    display: flex;
    width: inherit;
    border-top: 2px solid #ed4040;
    background-color: #f4f5f6;
    margin-bottom: 18px;
    text-align: center;
}

#friends1 {
    width: 300px;
    color: #222;
    padding: 0;
    margin: 20px 20px 0 18px;
    font-size: 18px;
    line-height: 1.1;
}

#friends_header {
    font-weight: 700;
    text-align: left;
}

#friends_links1 {
    overflow: hidden;
    margin: 20px -20px 0 0;
    color: #777;
}


#friends_links1 .item {
    float: left;
    margin: 0 20px 20px 0;
    font-size: 14px;
}

#friends li a {
    color: #777;
}

#copyright {
    display: flex;
    width: inherit;
    background-color: #f4f5f6;
    margin-bottom: 18px;
    text-align: left;
    font-size: 14px;
    line-height: 2;
}

#copyright1 {
    margin: 8px 20px 0 20px;
}

#copyright1 a {
    color: #777;
}
#copyright1 p {
    color: #777;
}

#copyright1 span {
    color: #777;
}

#copyright1 span {
    display: block;
}

#copyright1 p img {
    width: 20px;
    height: 20px;
}

#search_bar {
    width: 100%;
    display: flex;
}

#search_input {
    flex: 1 1;
    height: 44px;
    font-size: 14px;
    line-height: 1.1;
    padding-left: 10px;
    color: #1f2d3d;
    background-color: #f5f6f7;
    border: 1px solid #e8e8e8;
}

#search_btn {
    font-size: 14px;
    line-height: 1.1;   
    color: #fff;
    background-color: #208eda;
    border: 1px solid #208eda;
    position: relative;
    left: -1px;
    padding: 13px 24px;
}

#login {
    margin: 16px 0;
    padding: 20px 20px 12px;
    background-color: #f4f5f6;
    font-size: 14px;
    line-height: 1.1;
}

#login1 {
    height: 198px;
    padding: 20px 28px 15px;
    text-align: center;
    background: #fff;
    border: 1px solid #e8e8e8;
    font-size: 12px;
}

#login_msg {
    line-height: 17px;
    color: #777;
}

#login_btn {
    width: 240px;
    height: 40px;
    margin: 16px 0 14px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #ed4040;
    border: none;
    text-align: center;
}

#login_3rd {
    display: block;
    width: 240px;
    height: 60px;
    margin: auto;
    text-align: center;
}

#login_3rd_party {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 58px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 36px;
    color: #777777;
}


#login_3rd_party > span {
    position: absolute;
    left: 6px;
    top: 41px;
    width: 24px;
    font-size: 12px;
    line-height: 17px;
    color: #777;
}

#login_3rd_party:nth-child(1) {
    margin-right: 24px;
    background-image: url('https://sf3-scmcdn-tos.pstatp.com/obj/goofy/toutiao/toutiao_web_pc/svgs/icon_qq_pc.83d80076.svg'), none;
}

#login_3rd_party:nth-child(2) {
    background-image: url('https://sf3-scmcdn-tos.pstatp.com/obj/goofy/toutiao/toutiao_web_pc/svgs/icon_weixin_pc.7eab8c3d.svg'), none;
}