.stick {
    width: 100px;
    height: 4px;
    background: #f50;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
    0% {
      height: 4px;
    }
    50% {
      height: 100px;
    }
    100% {
      height: 4px;
    }
  }